.details{
      display: flex;
      border-bottom: 1px solid lightgray;
      padding-bottom: 10px;
      padding-top: 10px;
      margin-bottom: 10px;
      width: 70%;
   
}
.name{
      color: blue;
      padding-right: 100px;
}
.email{
      padding-left: 20px;
}
.mainbtn{
      background-color: gold;
      border: none;
      padding: 10px 20px;
      color: white;
      border-radius: 5px;
}